* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Principal */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --background: #29293e;

  /* Color Base */
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  /* Fonts */
  --font-heading: "Asap", sans-serif;
  --font-subtitle: "Inconsolata", sans-serif;
  --font-content: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-heading);
  --title-md: 700 24px/120% var(--font-heading);
  --title-sm: 700 16px/120% var(--font-heading);
  --subtitle: 400 20px/120% var(--font-subtitle);
  --text-md: 400 16px/120% var(--font-content);
  --text-sm: 400 14px/120% var(--font-content);
}

body {
  background-color: var(--background);
  color: var(--gray-400);
  font: var(--text-md);
}

h1,
h2,
h3 {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding-inline: 32px;
  margin-inline: auto;
}
